:root {
  --card-set-gap-margin: 30px;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-address-bottom-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --logo-second-color: #000000;

  --primary-white-color: #ffffff;
  --accent-background-color: #2f303a;
  --second-accent-background-color: #f5f4fa;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  padding-top: 80px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}
/* Центрування контенту */
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Обнулення маркування списків */
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

/*Загальне для посилань*/
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Загальне для кнопок */
.button {
  display: inline-block;
  border: transparent;

  padding-left: 0;
  padding-right: 0;

  cursor: pointer;
  border-radius: 4px;

  font-family: inherit;
  letter-spacing: 0.03em;
}

.visuality-hidden {
  position: absolute;
  white-space: nowrap;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------HEADER---------- */
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

/* Лого */
.logo {
  color: var(--logo-second-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo--color-blue {
  color: var(--accent-color);
}

/*Навігація*/
.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 50px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;

  font-weight: 500;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.17;

  transition: color 250ms var(--timing-function);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

/* Виділення поточної сторінки кольором*/
.header__link--active {
  position: relative;
  color: var(--accent-color);
}
.header__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  content: '';
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Виділення і псевдостани посилань на сторінки*/
.header__contact-link {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}

.header__contact-container {
  display: flex;
  align-items: baseline;
  gap: 50px;

  margin-left: auto;
}

.header__contact-link {
  display: flex;
  align-items: center;
}
.header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header__contact-link {
  transition: color 250ms var(--timing-function);
}
.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-color);
}

/* -------CТУДІЯ-------*/

/* Герой */
.hero {
  width: auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}
.overlay {
  margin-left: auto;
  margin-right: auto;

  height: 600px;
  max-width: 1600px;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fone-img.jpg);
}
.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--primary-white-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* Кнопка Замовити послугу */
.hero__btn {
  width: 216px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: initial;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000;
  fill: currentColor;

  transition: color 250ms var(--timing-function);
}
.modal__icon {
  width: 30px;
  height: 30px;

  fill: currentColor;
}
.modal__button:hover,
.modal__button:focus {
  color: var(--accent-color);
}
/* ORDER-FORM */
.order-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.order-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.order-form__fill {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.order-form__fill .order-form__data,
.order-form__textarea {
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 12px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 16px;

  transition: border 250ms var(--timing-function);
}

.order-form__label {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.order-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: #212121;
  transition: fill 250ms var(--timing-function);
}
.order-form__input {
  display: flex;
  position: relative;
}
.order-form__data {
  width: 448px;
  height: 40px;
}
.order-form__input:focus-within > .form-icon {
  fill: var(--accent-color);
}
.order-form__input:focus-within ~ .order-form__data {
  border: 1px solid var(--accent-color);
}
.order-form__data:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.order-form__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
}
.order-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.order-form__textarea:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}
.order-form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.order-form__checkbox {
  position: absolute;
  white-space: nowrap;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.order-form__check-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: background-color 250ms var(--timing-function);
}
.order-form__checkbox:checked + .order-form__check-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.order-form__link {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: none;
}
.order-form__link::after {
  position: absolute;
  content: '';
  top: 18px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.order-form__button {
  display: inline-block;
  width: 200px;
  height: 50px;

  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);

  cursor: pointer;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);
}
.order-form__button:hover,
.order-form__button:focus {
  background-color: #188ce8;
}
/* Особливості */
/* h2 */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}
.features {
  width: auto;
  padding-bottom: 0;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  width: 1200px;
  margin: 0;
  padding: 0;
  margin-right: calc(-1 + var(--card-set-gap-margin));
}
.features__item {
  width: 270px;
  flex-basis: calc(100% / 3 * var(--card-set-gap-margin));
  margin-right: var(--card-set-gap-margin);
}
.icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--second-accent-background-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-transform: uppercase;
}
.features__text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємося */
.tasks {
  width: auto;
}
.tasks__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 1200px;
  margin: 0;
  padding: 0;
  margin-right: calc(-1 + var(--card-set-gap-margin));
}
.tasks__item {
  flex-basis: calc(100% / 3 var(--card-set-gap-margin));
  margin-right: var(--card-set-gap-margin);
}

.tasks__thumb {
  position: relative;
}
.tasks__thumb .tasks__text {
  opacity: 1;
}
.tasks__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  background: rgba(47, 48, 58, 0.8);
}

.tasks__text {
  color: var(--primary-white-color);
  line-height: 1.172;
  font-size: 14px;
  text-transform: uppercase;
}
/* Наша команда */
.team {
  background-color: var(--second-accent-background-color);
  width: auto;
}
.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 1200px;
  margin: 0;
  padding: 0;

  margin-right: calc(-1 + var(--card-set-gap-margin));
}
.team__list img {
  margin-bottom: 30px;
}
.team__item {
  flex-basis: calc(100% / 4 var(--card-set-gap-margin));

  margin-right: var(--card-set-gap-margin);
  padding-top: 0;
  padding-bottom: 30px;

  width: 270px;

  overflow: hidden;
  border: transparent;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  text-align: center;
}
.team__dscr {
  margin: 0px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.socials__link--color {
  color: #afb1b8;
}
.socials__link--active:hover,
.socials__link--active:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* ----------CLIENTS---------- */
.clients {
  width: auto;
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* Посилання на СОЦ. Мережі */

/* --------ПОРТФОЛІО----------
 */
/* Кнопки*/

.porfolio__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.porfolio__button {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  background-color: var(--second-accent-background-color);

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.porfolio__button--main-btn {
  padding-left: 25px;
  padding-right: 25px;
}

.porfolio__button:hover,
.porfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Картки з проєктами */
.card-set {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
  margin: 0;
  padding: 0;

  margin-bottom: calc(-1 + var(--card-set-gap-margin));
  margin-right: calc(-1 + var(--card-set-gap-margin));
}
.card-set__item {
  flex-basis: calc(100% / 3 var(--card-set-gap-margin));
  margin-right: var(--card-set-gap-margin);
  margin-bottom: var(--card-set-gap-margin);
}

.card-set__link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function);
}
.card-set__dscr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.card-set__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-set__subtitle {
  margin: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-set__img-thumb {
  display: flex;
  position: relative;
  overflow: hidden;
}
.card-set__img-thumb::before {
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;

  content: '';
  background-color: var(--accent-color);
  opacity: 0;

  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.card-set__text {
  position: absolute;

  padding: 64px 24px 64px 24px;

  opacity: 0;

  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.555;

  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__link:hover .card-set__img-thumb::before {
  transform: translateY(0);
  content: '';
  opacity: 0.9;
}
.card-set__link:hover .card-set__text {
  transform: translateY(0);
  opacity: 1;
}

/* ----------FOOTER---------- */
.footer {
  display: flex;

  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-background-color);
}

.logo--color-light {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--primary-white-color);
}

.footer__address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer__item {
  margin-top: 9px;
}

.footer__location {
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
}
.footer__contact {
  color: var(--link-address-bottom-color);
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
}
.footer__contact {
  transition: color 250ms var(--timing-function);
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__links-container {
  width: 231px;
  margin-right: 70px;
}
/* ----------LINK-social-media---------- */
.footer__socials {
  display: inline-block;
  align-items: flex-start;
}
.footer__text {
  display: block;

  margin-bottom: 20px;
  margin-top: 0;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}
.socials__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
  display: block;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.socials__link--bg-color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* ----------footer-FORM---------- */
.subscribe-form {
  display: flex;
  align-items: flex-end;

  width: 570px;

  margin-left: 93px;
}
.subscribe-form__caption {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
}
.subscribe-form__data {
  width: 358px;
  height: 50px;

  margin: 0;
  padding: 15px 0 16px 15px;

  border: 1px solid #6d6e75;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-background-color);

  color: var(--primary-white-color);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 0;

  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}
.subscribe-button__text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.175;
  letter-spacing: 0.06em;
}
.subscribe-button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/* ------------------------------------------------ */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
