@import './utils/variables';
@import './utils/placeholders';
@import './base/normalize';

@import './components/body';
@import './components/containers';
@import './components/section';
@import './components/common/socials';
@import './components/common/logo';

@import './components/page-header';

@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/order-form';
@import './components/features';
@import './components/tasks';
@import './components/team';
@import './components/clients';

@import './components/porfolio';
@import './components/card-set';

@import './components/page-footer';
@import './components/subscribe-form';