body {
    padding-top: 80px;
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
img {
    display: block;
    width: 100%;
}

.list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}


.link {
    text-decoration: none;
    color: $primary-text-color;
}


.button {
    display: inline-block;
    border: transparent;

    padding-left: 0;
    padding-right: 0;

    cursor: pointer;
    border-radius: 4px;

    font-family: inherit;
    letter-spacing: 0.03em;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.visuality-hidden {
    position: absolute;
    white-space: nowrap;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}