.card-set {
    display: flex;
    flex-wrap: wrap;

    width: 1200px;
    margin: 0;
    padding: 0;

    gap: $card-set-gap-margin;
}

.card-set__item {
    flex-basis: calc((100% - 60px) / 3);
}

.card-set__link {
    display: block;

    text-decoration: none;

    transition: box-shadow 250ms $timing-function;

    &:hover, &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card-set__dscr {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.card-set__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-set__subtitle {
    margin: 0;

    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.card-set__img-thumb {
    display: flex;
    position: relative;
    overflow: hidden;

    &::before {
            display: inline-block;
            position: absolute;
    
            width: 100%;
            height: 100%;
    
            content: '';
            background-color: $accent-color;
            opacity: 0;
    
            transform: translateY(100%);
            transition: opacity 250ms $timing-function, transform 250ms $timing-function;
        }

    .card-set__link:hover &::before {
        transform: translateY(0);
        content: '';
        opacity: 0.9;
    }
}

.card-set__text {
    position: absolute;

    padding: 64px 24px 64px 24px;

    opacity: 0;

    color: $primary-white-color;
    font-size: 18px;
    line-height: 1.555;

    transform: translateY(100%);
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;

    .card-set__link:hover & {
        transform: translateY(0);
        opacity: 1;
    }
}

