
.features {
    @include section-padding ($p-bott: 0);
    width: auto;
    padding-bottom: 0;
}
.features__title{
    @extend %visuality-hidden;
}
.features__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    width: 1200px;
    margin: 0;
    padding: 0;
    gap: $card-set-gap-margin;
}

.features__item {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
}


.features__icon {
    width: 70px;
    height: 70px;
    
    &-thumb {
            @extend %flex-container-center;
    
            height: 120px;
            margin-bottom: 30px;
            border-radius: 4px;
    
            background-color: $second-accent-background-color;
        }
}

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.17;
    color: $title-text-color;
    text-transform: uppercase;
}

.features__text {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
}