.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1;
    background-color: $primary-white-color;
    border-bottom: 1px solid #ececec;
}
.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    @extend %list;
    display: flex;
    gap: 50px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;

    font-weight: 500;
}

.header__link {
    @extend %link;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;

    transition: color 250ms $timing-function;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



/* Виділення поточної сторінки кольором*/
.header__link--active {
    position: relative;
    color: $accent-color;

    &::after{
        position: absolute;
        bottom: -1px;
        left: 0;
    
        width: 100%;
        height: 4px;
    
        content: '';
        border-radius: 2px;
        background-color: $accent-color;
    }
    
}

/* Виділення і псевдостани посилань на сторінки*/
.header__contact-link {
    @extend %link;
    color: $primary-text-color;
    fill: $primary-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
}

.header__contact-container {
    display: flex;
    align-items: baseline;
    gap: 50px;

    margin-left: auto;
}

.header__contact-link {
    display: flex;
    align-items: center;
}

.header__contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

.header__contact-link {
    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-color;
    }
}
