.team {
    
    background-color: $second-accent-background-color;
    width: auto;
    
    @media screen and (min-width:480px) {
        @include section-mob-tabl-padding;
    }
    @media screen and (min-width:1600px) {
        @include section-padding ();
    }
}

.team__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}
.team__title{
    @extend %section-title;
}
.team__list {
    @extend %list;


    width: 1200px;
    margin: 0;
    padding: 0;

   
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $card-set-gap-margin;
        width: 768px;
    }
    @media screen and (min-width:1600px) {
        width: 1170px;
    }
}
.team__list img {
    margin-bottom: 30px;
}

.team__item {
    padding-top: 0;
    padding-bottom: 30px;

    width: 270px;

    overflow: hidden;
    border: transparent;
    background-color: $primary-white-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width:480px) {
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px)/2);
        &:not(:last-child) {
                margin-bottom: 0px;
            }
    }
    
    @media screen and (min-width:1600px) {
        flex-basis: calc((100% - 90px)/4);
    }
}


.team__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
}

.team__dscr {
    margin: 0px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}



