@mixin section-padding ($p-top: 94px, $p-bott: 94px){
    padding-top: $p-top;
    padding-bottom: $p-bott;
}

@mixin flex-container ($align:center){
    display: flex;
    justify-content: center;
    align-items: $align;
}